.searchBar {
    padding: 3rem;
}
.button-container {
    display: flexbox;
    justify-items: right;
}

.filter-button {
    background: lightskyblue;
    font: 1.25rem sans-serif;
    padding: 0.75rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    border-radius: 25%;
}

.filter-button:hover {
    background: lightblue;
}

.my-tasks-container {
    width: 90%;
    margin: auto;
}






