label {
    margin-right: 1.5rem;
    margin-left: 1rem;
 
    width: 100%;
}

input {
    margin-left: 1rem;
    width: 90%
}

input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
}

h4 {
    text-align: center;
}

.date-upcoming-container {
    padding-top: .5rem;
    width: 95%;
    grid-area: date;
    background-color: rgb(194, 216, 216);
    border-radius: 10%;
    display: grid;
    grid-template-areas: "title"
               "due-date"
               "completed-date"
               "upcoming";
    grid-template-rows: 1fr 1fr 1fr 1fr;
    


}

.date-upcoming-due-date {
    grid-area: due-date;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.date-upcoming-completed-date {
    grid-area: completed-date;
}

.date-upcoming-upcoming {
    grid-area: upcoming;
    margin-top: .5rem;
    display: block;
    
}

.checkbox-label {
    width: 50%
}

.checkbox-input {
    margin:auto;
}

