@media (min-width:40rem) and (min-height: 40rem) {
    thead {
        background: lightseagreen;
    }
    
    table {
        margin: auto;
        width: 100%;
    }

    th {
        padding: 1rem;
        font: 1.25rem sans-serif;
        font-weight: bold;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    .task-table {
        margin: auto;
    }
    
    .task-row:hover {
        cursor: pointer;
        background-color: aliceblue;
    }

    .header-filter:hover {
        cursor: pointer;
        background-color: lightblue;
    }

    tr {
        padding: .5rem;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
}